manifest {
	author = "John Hutchinson & Sergey Abramov"
	mainScript = "bulk_footprints.nf"
	defaultBranch = "master"
	name = "footrpirnting-pipeline"
	description = "Footprinting pipeline from chromatin accessbility data"
	version = "0.1"
	nextflowVersion = "22.04.0"
}

process.shell = ['/bin/bash', '-ueo','pipefail' ]

params {
	includeConfig './params.config'
}

profiles {
	Altius {
		process {
			executor = "slurm"
			queue = "queue2"
			memory = { 8.GB * task.attempt }
			cache = "lenient"
			errorStrategy = { task.exitStatus == 143 ? 'retry' : 'terminate' }
			maxRetries = 3

			conda = "/home/sabramov/miniconda3/envs/babachi"
		}
	}
