manifest {
	author = "John Hutchinson & Sergey Abramov"
	mainScript = "main.nf"
	defaultBranch = "development"
	name = "footrpirnting-pipeline"
	description = "Footprinting pipeline from chromatin accessbility data"
	version = "0.1"
	nextflowVersion = "22.04.0"
}

process.shell = ['/bin/bash', '-ueo','pipefail' ]

params {
	includeConfig './params.config'
}

profiles {

	//Pan-environment configuration; modify to computing enviroment specifications
	Altius {
		process {
			executor = "slurm"
			queue = "queue2,queue0,encode4,pool"
			memory = { 8.GB * task.attempt }
			queueSize = 10
			cache = "lenient"
			errorStrategy = { (task.exitStatus in 137..143) ? 'retry' : 'terminate' }
			maxRetries = 3
			
			withLabel: high_cpu {
				cpus = 8
				//errorStrategy = 'ignore'
			}
		}
	}
}
