samples_file = "/home/jhutchinson/projects/encode4plus/meta/test_metadata.csv"

outdir = "outdir" 

genome_fasta_file = '/net/seq/data/genomes/human/GRCh38/noalts/GRCh38_no_alts.fa'

bias = "${projectDir}/vierstra_et_al.6mer-model.txt"

// Installed conda path (provide if you have already unpacked conda environment from environment.yml)
// If not specified, will be installed from enviroment.yml file
conda = "/home/jhutchinson/miniconda3/envs/ftd"
